.container-info {
  border-radius: 2px;
  border-left: 8px solid #1890ff;
  background-color: rgba(98, 180, 255, 0.19);
  padding: 1px 1px 1px 20px;
}
.container-warning {
  border-radius: 2px;
  border-left: 8px solid #faad14;
  background-color: rgba(252, 199, 96, 0.19);
  padding: 1px 1px 1px 20px;
}
.container-success {
  border-radius: 2px;
  border-left: 8px solid #52c41a;
  background-color: rgba(138, 215, 100, 0.19);
  padding: 1px 1px 1px 20px;
}
.container-error {
  border-radius: 2px;
  border-left: 8px solid #f5222d;
  background-color: rgba(248, 105, 113, 0.19);
  padding: 1px 1px 1px 20px;
}
.container-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}
.container-body {
  line-height: 20px;
  font-weight: 300;
}
/**
    markdown 样式
*/
.markdown-body {
  /**
        以下是 table 样式
    */
}
.markdown-body img {
  max-width: 100%;
}
.markdown-body pre {
  max-width: 100%;
}
.markdown-body details {
  border-radius: 2px;
  padding: 30px 0px 30px 20px;
  border-left: 8px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(222, 222, 222, 0.115);
}
.markdown-body h1 code,
.markdown-body h2 code,
.markdown-body h3 code,
.markdown-body h4 code,
.markdown-body h5 code,
.markdown-body h6 code {
  padding: 0.4rem 0.6rem;
  background-color: #f0f0f0;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.markdown-body h1:hover .header-anchor,
.markdown-body h2:hover .header-anchor,
.markdown-body h3:hover .header-anchor,
.markdown-body h4:hover .header-anchor,
.markdown-body h5:hover .header-anchor,
.markdown-body h6:hover .header-anchor {
  text-decoration: none;
  display: inline-block;
}
.markdown-body p code,
.markdown-body a code,
.markdown-body span code,
.markdown-body li code {
  padding: 0.1rem 0.4rem;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.markdown-body pre:not([class]) > code:not([class]) {
  display: block;
  padding: 20px;
  background-color: #f0f0f0;
  font-family: monospace;
  margin: 0px;
  max-width: 100%;
}
.markdown-body pre.hljs {
  padding: 20px;
}
.markdown-body .markdown-code:hover .line-suffix {
  opacity: 1;
}
.markdown-body .markdown-code .line-suffix {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transform: translate(0, 24px);
  transition: all ease 0.5s;
  opacity: 0;
}
.markdown-body .markdown-code .line-suffix select {
  border: unset;
  color: #ffffff;
  background: unset;
}
.markdown-body .markdown-code .line-suffix select option {
  text-align: left;
  color: black;
}
.markdown-body .markdown-code .line-suffix [class*=code] {
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  margin: 0px 10px 0px 10px;
  border-radius: 4px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.markdown-body .markdown-code .block-code code {
  transition: all ease 0.5s;
  padding-top: 10px;
  display: flex;
}
.markdown-body .markdown-code .block-code code .line-count {
  margin: 5px;
  padding: 15px;
  color: #9e9e9e;
  border-right: 1px solid #000000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.markdown-body .markdown-code .block-code code .code-render {
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  overflow: auto;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}
.markdown-body .header-anchor {
  display: none;
}
.markdown-body ::selection {
  color: white;
  background-color: #3368f4;
}
.markdown-body blockquote {
  border-radius: 2px;
  padding: 4px 0px 4px 20px;
  margin: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  border-left: 8px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(222, 222, 222, 0.115);
}
.markdown-body table {
  border-spacing: 0px;
  text-indent: unset;
  box-sizing: unset;
  border-collapse: unset;
}
.markdown-body table tr th {
  font-weight: 700;
  background-color: #e5e7eb;
}
.markdown-body table tr:nth-child(even) {
  background-color: #f5f5f5;
}
.markdown-body th,
.markdown-body td {
  border: 1px solid #ddd;
  padding: 10px;
}
.markdown-body hr {
  background: #e8e8e8;
  margin: 24px 0px 24px 0px;
  padding: 0px;
  border: unset;
  height: 1.5px;
}
.markdown-body a::selection {
  color: blue;
}
.markdown-body a {
  color: #2f9bff;
}
.markdown-body ul {
  padding-inline-start: 32px;
}
.markdown-body ul li {
  line-height: 26px;
}
.markdown-body .toc-li {
  display: block;
}
/** common css*/
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #2c3e50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.none-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
